@import url(http://fonts.googleapis.com/css?family=Dosis:500,600|Titillium+Web);
/** Styles for tomes */
body { background: transparent url('../img/bg-clouds.jpg?1380063858') no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-family: 'Titillium Web', sans-serif; text-align: center; font-size: 16px; line-height: 2em; margin: 0 0; padding: 0 0; }
body > *, body > header > * { margin: 0 auto; }
body > .content, body > .footer, body > header > * { width: 40em; max-width: 90%; }
body > header { background: transparent url('../img/bg-lightning.png?1380064009') no-repeat scroll center bottom; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; max-width: 100%; padding-bottom: 1000px; margin-bottom: -1050px; text-align: center; }
body > header h1.title { display: inline-block; overflow: hidden; width: 800px; margin-top: -30px; max-width: 100%; }
body > header h1.title img { position: relative; z-index: 50; max-width: 100%; }
body > header .subtitle { margin-bottom: 2em; }
body > header nav { text-align: left; -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; }
body > header nav ul.inline li { margin-bottom: 0; padding-right: 0; position: relative; z-index: 100; }
body > header nav ul.inline li a { padding: 0 1em; font-family: 'Dosis', sans-serif; color: #1b1435; text-decoration: none; text-transform: capitalize; }
body > header nav ul.inline li.active, body > header nav ul.inline li:hover { background-color: #000; background-color: rgba(0, 0, 0, 0.3); -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; }
body > header nav ul.inline li.active a, body > header nav ul.inline li:hover a { color: #fff; }
body > footer { background: transparent url('../img/bg-mountains.png?1380063808') no-repeat center top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height: 30em; width: 100%; margin-top: -200px; display: table; }
body > footer > * { display: table-cell; vertical-align: bottom; color: #000; }

* { color: #eeeeee; text-shadow: 0px 0px 1px #aaaaaa; }

ul { margin-left: 0; padding-left: 0; }
ul.unstyled { padding-left: 0; }
ul.inline { margin-top: 0; }
ul.inline li { display: inline-block; padding-right: 2em; }

li { list-style: none; margin-bottom: 2em; }

p { margin: 0 0 1em; }

h1, h2, h3, h4, h5, h6 { margin-bottom: .5em; margin-top: 2em; font-family: 'Dosis', sans-serif; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: underline; }

article, iframe { margin-bottom: 2em; -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; box-shadow: rgba(255, 255, 255, 0.1) 0 0 20px; max-width: 100%; }

article { background-color: rgba(0, 0, 0, 0.4); padding: 1em 3em; text-align: justify; }
article h1, article h2, article h3, article h4, article h5, article h6 { width: 60%; min-width: 10em; text-align: center; margin: .5em auto 1em; }

blockquote { font-size: 1.5em; margin: 2em 0 0 inherit; }
blockquote p { margin-bottom: 0; margin-top: 0.5em; }

.citation { display: block; text-align: right; margin-top: -1em; }
.citation:before { content: "– "; }

article.event { margin-bottom: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
article.event:last-of-kind { border-bottom-width: 0; }
article.event h1, article.event h2, article.event h3, article.event h4, article.event h5, article.event h6 { margin: 0.25em 0 0; width: auto; text-align: left; }
article.event footer { font-size: small; line-height: 1.5em; color: rgba(255, 255, 255, 0.5); }
