---
layout: default
title: About
group: nav
permalink: /index.html
---

<article>
  <h1 id="about">{{ site.slogan }}</h1>

  <p>A young peasant is on a hero's journey, except the peasant is a dance prodigy. An evil wizard plots to conquer the world, but he's just trying to impress a blind date. Maybe a princess embarks on a legendary search for the perfect friendship bracelet? That can work.</p>

  <p>These are Tomes; improvised adaptations of (the covers of) forgotten paperback fantasy novels, stories that will never be read or repeated. Seven brave, clever improvisers emerge from the darkness with a box full of books they have never read... and never will. An equally brave and clever audience member chooses one of these books. Then the entire book is performed live onstage before your very eyes!</p>

  <p>Every show is based on a different book and is a completely new adventure! It's thrilling, hilarious, and sometimes even accidentally accurate.</p>
</article>

<h1 id="shows"><a href="/shows/">Upcoming Shows</a></h1>
  {% capture today %}{{ site.time | date: "%Y%j" }} {% endcapture %}
  {% for event in site.posts reversed %}
     {% capture eventdate %}{{ event.date | date: "%Y%j" }}{% endcapture %}
     {% if  eventdate > today %}
      <article class="event">
      {% if event.facebook != empty %}
        <h2><a href="{{ event.facebook }}">{{ event.title }}</a></h2>
      {% else %}
        <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
      {% endif %}

        <footer>{{ event.date | date: "%B %d, %Y" }} {{ event.time }} @ {{ event.location }}</footer>
      </article>
      {% endif %}
  {% endfor %}