---
layout: default
title: Shows
permalink: shows/index.html
group: nav
---
{% capture today %}{{ site.time | date: "%Y%j" }} {% endcapture %}
{% for event in site.posts reversed %}
   {% capture eventdate %}{{ event.date | date: "%Y%j" }}{% endcapture %}
   {% if  eventdate > today %}
  <article class="event">
    {% if event.poster != empty %}
      <div class="poster" style="background-image: url({{ event.poster }})">
        <img src="{{ event.poster }}" class="poster" alt="{{ event.title }}"/>
      </div>
    {% endif %}
    {% if event.facebook %}
      <h2><a href="{{ event.facebook }}">{{ event.title }}</a></h2>
    {% else %}
      <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
    {% endif %}

    <footer>{{ event.date | date: "%B %d, %Y" }} {{ event.time }} @ {{ event.location }}</footer>
    {{ event.content }}
  </article>
{% endif %}
{% endfor %}

<h2><a href="/shows/past/"><< Past Shows</a></h2>