/**
 * Tomes tomes.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0 !important;
}
.container {width:auto;}
#header {
  background: #f5f5f5 url('img/bg_header.png') repeat-x 0 100%;
  position:relative;
}

#header * {
  color: #666;
}

#logo {
  background: transparent url('img/bg_logo.png') no-repeat 50% 100%;
  padding: 15px 0 55px 0;
  width: 149px;
  text-align:center;
  position: relative;
  z-index: 1;
}
#logo a {
  display:block;
  margin-left: -5px;
}

#menu-bar .menu-wrapper .menu li a:link,
#menu-bar .menu-wrapper .menu li a:visted {
  font-weight: 300;
  font-family: 'museo-sans', sans-serif;
  background-color: transparent;
}
#menu-bar .menu-wrapper li a {
  border-bottom-width:0 !important;
}

#main-content > header {
  margin: 0 0;
}

.region-tertiary-content {
  text-align:center;
}

#columns, body, .lightbox_popup {
  background-color: #fcfcfc;
}

block-inner, .breadcrumb, .region-help, .messages, #main-content > header, #attribution, .fb_iframe_widget {
  margin-left: 20px;
  margin-right: 20px;
}

/** fbml overrides */
.fb-comments,
.fb-comments span[style],
.fb-comments iframe[style] {
  min-width: 100% !important;
  max-width: 100% !important;
  margin-right: 0;
  margin-left: 0
}

/* typography */
h1 {
  font-weight: 300;
  font-family: 'museo-sans', sans-serif;
}

body,
#site-name a,
#menu-bar li.active a,
.region-header .block-content > ul > li > a,
h1.page-title,
.article h2.article-title,
.article h1.article-title a,
.article h2.article-title a,
.comment h3.comment-title a,
.tabs ul.tabs li a,
pre,
code,
samp,
var,
table.update tr,
table.system-status-report tr {
  color: #2e2e2e;
}

/* Links */
a,
a.active,
li a.active,
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  color: #2e2e2e;
}
legend {
  background-color: transparent;
  color: #fff;
}
.node-readmore a,
.article a:link,
.article a:visited {
  color: #2e2e2e;
  padding: .1em .25em;
  margin: 0 -.25em;
}
.article-content a:link,
.article-content a:visited {
  text-decoration: underline;
}

/* Link hovered */
.node-readmore a,
.article h1.article-title a,
.article h2.article-title a {
  text-decoration:none;
}
.node-readmore a,
.article a:hover,
.article a:active {
  background-color: #f5f5f5;
  text-decoration:none;
    -moz-box-shadow: 1px 1px 3px #d3d3d3;
    -webkit-box-shadow: 1px 1px 3px #d3d3d3;
  box-shadow: 1px 1px 3px #d3d3d3;
}

.node-readmore {
  float:right;
  font-size: 1.1em;
}


.node-readmore a:after {
  content: ' >>';
}
/* articles */
article > header {
  border-bottom-width:0;
}

.article img {
  width:97%;
  position:relative;
  background-color: #ddd;
  border-width: 0;
    -moz-box-shadow: 1px 1px 3px #d3d3d3;
    -webkit-box-shadow: 1px 1px 3px #d3d3d3;
  box-shadow: 1px 1px 3px #d3d3d3;
  padding: 1.5%;
}

.article .field-name-field-fbevent  a {
 display:inline-block;
 text-decoration:none;
}

.article img.facebook {
  width: auto !important;
  padding: 0;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  top: 0.2em;
}
/* views */

.view {
  position: relative;
  z-index: 1; /* prevent shadows falling behind containers with backgrounds */
}


.view .attachment {
  position: relative;
  border: 1px solid #efefef;
  margin-bottom: 4em;
  background: #fff;
    -webkit-box-shadow: 0 1px -4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.03) inset;
    -moz-box-shadow: 0 1px -4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px -4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.03) inset;
}
.view .attachment .clickable {
  padding: 2em 3em;
}
.clickable:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.view .attachment:before,
.view .attachment:after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  max-height: 100px;
  height: 55%;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    -ms-transform: skew(-15deg) rotate(-6deg);
    -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg);
}
.view .attachment:after {
  left: auto;
  right: 20px;
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    -ms-transform: skew(15deg) rotate(6deg);
    -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

.lightbox_popup {
  top: 25% !important;
  width: 30%;
  padding: 2em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
  border-radius: 2px;
    -moz-box-shadow: 1px 1px 3px #d3d3d3;
    -webkit-box-shadow: 1px 1px 3px #d3d3d3;
    -o-box-shadow: 1px 1px 3px #d3d3d3;
    -ms-box-shadow: 1px 1px 3px #d3d3d3;
  box-shadow: 1px 1px 3px #d3d3d3;

}

/* the players view */

.view-id-players ul,
.view-id-players li {
  list-style: none;
  margin: 0 0 0 0;
}
.view-id-players ul li {
  margin: 0 0 1em 0;
  border: 5px solid #fff;
    -moz-box-shadow: 1px 1px 3px #d3d3d3;
    -webkit-box-shadow: 1px 1px 3px #d3d3d3;
    -o-box-shadow: 1px 1px 3px #d3d3d3;
    -ms-box-shadow: 1px 1px 3px #d3d3d3;
  box-shadow: 1px 1px 3px #d3d3d3;
  overflow:hidden;
  position:relative;
}

.view-id-players li img {
  min-width:100%;
}

.view-id-players ul li:hover h2 {
  top:66%;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
  transform:rotate(0deg);
  cursor:pointer;
}

.view-id-players ul li h2 {
  font-size: 1.25em;
  position:absolute;
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid  rgba(0,0,0,0.8);
  width: 86%;
  height: 100%;
  line-height:2em;
  padding: 0 7%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  top:100%;
    -moz-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
  transform:rotate(3deg);
}
.view-id-players ul li h2 a {
  color: #ddd;
}
.view-id-players .biography {
  display:none;
}

