/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

/**
 * @fontface settings
 */
.tomes #page-title,
.tomes #site-name a {
  font-family: 'DeutschGothicNormal';
  letter-spacing: .05em
}
.tomes #page-title {
  font-size: 3em;
  text-align: center;
}

* {
  color: #5e412f;
}

* a:link,
* a:visited {
  color: #78C0A8;
}

* a:hover,
* a:active {
  color: #5e412f;
  text-decoration: underline;
}


/**
 * Header
 */
 
 
.tomes #site-name a {
  color: #fefce4;
  text-align: center;
  font-size: 2em;
}

 
/**
 * Dropshadows
 */
 
.tomes #site-name a {
    -webkit-text-shadow: 1px 1px 5px #333;
    -moz-text-shadow: 1px 1px 5px #333;
  text-shadow: 1px 1px 5px #333;
} 


#columns {
  background: transparent url(../dropbg.png) no-repeat bottom center;
  padding-bottom: 0.5em;
}

#columns .columns-inner{
  border:1px solid #fefce4;
  background-color:#fefce4;
}

/**
 * Navigation
 */
 
#menu-bar .menu-wrapper li a.active,
#menu-bar .menu-wrapper li a.active:hover,
#menu-bar .menu-wrapper li a:hover {
  background-color: #fefce4;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 0 transparent;
}

#menu-bar .menu-wrapper li a {
  box-shadow: 0 -1px 2px #bbb inset;
  background-color: #fcf2d1;
  color: #666;
  border-top:1px solid #eee;
}

#menu-bar, #menu-bar .menu-wrapper {

}