/* Specific overrides for screen sizes */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
  #branding {
    padding: 10px 0 10px;
  }
  .region-header {
    padding: 0 0 10px;
  }
  #branding,
  .region-header {
    float: none;
    margin: auto;
    text-align: center;
    display: table;
  }
  #logo,
  #site-name,
  #site-slogan {
    display: block;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  #site-name {
    font-size: 3em;
  }
  .content-style {
    padding: 10px;
  }
  #secondary-content-wrapper,
  #top-panels-wrapper,
  #content-wrapper,
  #footer-panels-wrapper,
  #tertiary-content-wrapper {
    margin-bottom: 10px;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1em;
  }
  #header {
    height:12em;
    margin-bottom: 6em;
  }
  #menu-bar-wrapper,
  #menu-bar {
    min-height: 3em;
    height: auto;
  }
  #menu-bar {
    position:absolute;
    top:0;
    width:100%;
  }
  #menu-bar .block {
    clear: both;
    float: none;
    margin-left:163px; /* width of logo*/
  }
  #menu-bar .menu-wrapper ul li {
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
  }
  #menu-bar .menu-wrapper ul li a {
    padding: 6px 10px 8px;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  #menu-bar .menu-wrapper ul ul {
    display: none !important;
  }
  .region-header .block {
    overflow: hidden;
  }
  .region-header .block ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .region-header .block ul li a {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .article-title {
    font-size: 1.5em;
  }
}
/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
  #branding {
    padding: 15px 0 0 0;
  }
  .region-header {
    padding: 0 0 10px;
  }
  #branding hgroup {
    margin-top: 1em;
  }
  #branding,
  .region-header {
    float: none;
    margin: auto;
    text-align: center;
    display: table;
  }
  .with-logo #site-name,
  .with-logo #site-slogan {
    text-align: left;
  }
  #site-name {
    font-size: 3em;
  }
  .content-style {
    padding: 10px;
  }
  #secondary-content-wrapper,
  #top-panels-wrapper,
  #content-wrapper,
  #footer-panels-wrapper,
  #tertiary-content-wrapper {
    margin-bottom: 10px;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1em;
  }
  #header {
    height:12em;
    margin-bottom: 6em;
  }
  #menu-bar-wrapper,
  #menu-bar {
    min-height: 3em;
    height: auto;
  }
  #menu-bar {
    position:absolute;
    top:0;
    width:100%;
  }
  #menu-bar .block {
    clear: both;
    float: none;
    margin-left:163px; /* width of logo*/
  }
  #menu-bar .menu-wrapper ul li {
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
  }
  #menu-bar .menu-wrapper ul li a {
    padding: 6px 10px 8px;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  #menu-bar .menu-wrapper ul ul {
    display: none !important;
  }
  .region-header .block {
    overflow: hidden;
  }
  .region-header .block ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .region-header .block ul li a {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .article-title {
    font-size: 1.5em;
  }
  .view-id-players ul li {
    float:left;
    width: 46%;
  }

  .view-id-players ul li:nth-child(even) {
    margin-left: 2%;
  }
}
/**
 * Tablet portrait
 * - menu in narrow format
 */
@media only screen and (min-width:481px) and (max-width:768px) {
  .container {
    width:100%;
    max-width: 660px;
  }
  #header-wrapper {
    float: left;
    margin-bottom: 10px;
    position: relative;
    z-index: 10000;
  }
  #branding {
    padding: 15px 0 0 0;
  }
  .region-header {
    padding: 0 0 10px;
  }
  #branding hgroup {
    margin-top: 0.8em;
  }
  #branding,
  .region-header {
    float: none;
    text-align: center;
    display: table;
  }
  #site-name,
  #site-slogan {
    text-align: left;
  }
  #site-name {
    font-size: 3.5em;
  }
  .content-style {
    padding: 12px 15px;
  }
  #secondary-content-wrapper,
  #top-panels-wrapper,
  #content-wrapper,
  #footer-panels-wrapper,
  #tertiary-content-wrapper {
    margin-bottom: 10px;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1em;
  }
  #header {
    height:12em;
    margin-bottom: 6em;
  }
  #menu-bar-wrapper,
  #menu-bar {
    min-height: 3em;
    height: auto;
  }
  #menu-bar {
    position:absolute;
    top:0;
    width:100%;
  }
  #menu-bar .block {
    clear: both;
    float: none;
    margin-left:163px; /* width of logo*/
  }
  #menu-bar .menu-wrapper ul.menu li {
    display: block;
    float: none;
    margin: 0 0 0;
    overflow: hidden;
  }
  #menu-bar .menu-wrapper ul li a {
    padding: 6px 10px 8px;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  #menu-bar .menu-wrapper ul ul {
    display: none !important;
  }
  .region-header .block {
    overflow: hidden;
  }
  .region-header .block ul li {
    display: block;
    text-align: center;
    float: none;
  }
  .region-header .block ul li a {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .article .field-type-image,
  .view .attachment {
    width: 110%;
    position:relative;
    left:-5%;
  }
  .view-id-players ul li {
    float:left;
    width: 46%;
  }

  .view-id-players ul li:nth-child(even) {
    margin-left: 2%;
  }
}
/**
 * Tablet landscape
 * - menu in wide format
 */
@media only screen and (min-width:769px) and (max-width:1024px) {
  #header {
    height:80px;
    margin-bottom:160px;
  }
  .container {
    width: 660px;
  }
  #logo {
    margin: 0 auto;
  }
  #branding,
  .region-header  {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  #menu-bar{
    width: 100%;
    top: 0;
    position: absolute;
  }
  #menu-bar .menu-wrapper ul.menu li {
    width: 20%;
    margin: 0 0 0 0;
    text-align:center;
    width:20%;
  }
  #menu-bar .menu-wrapper ul.menu li:nth-child(3) {
    margin-left: 20%;
  }
  #menu-bar .menu-wrapper .menu li a {
    line-height: 5;
  }
  #menu-bar .menu-wrapper li a:hover {
    line-height:5.5;
  }
  #branding hgroup {
    margin-top: 0.8em;
  }
  #site-name {
    font-size: 3.5em;
  }
  .region-secondary-content .block {
    margin-bottom: 0;
    font-size: 1.077em;
  }
  .article .field-type-image,
  .view .attachment {
    width: 110%;
    position:relative;
    left:-5%;
  }
    .view-id-players ul li {
    float:left;
    width: 30%;
  }

  .view-id-players ul li:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
}
/**
 * Standard layout
 *  - menu in wide format
 */
@media only screen and (min-width:1025px) {
  .container {
    width: 660px;
  }
  #header {
    height:80px;
    margin-bottom:160px;
  }
  #logo {
    margin: 0 auto;
  }
  #menu-bar{
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 0;
    position: absolute;
  }
  #menu-bar .menu-wrapper ul.menu li {
    width: 20%;
    margin: 0 0 0 0;
    text-align:center;
    width:20%;
  }
  #menu-bar .menu-wrapper ul.menu li:nth-child(3) {
    margin-left: 20%;
  }
  #menu-bar .menu-wrapper .menu li a {
    line-height: 5;
  }
  #menu-bar .menu-wrapper li a:hover {
    line-height:5.5;
  }
  th,td {
    padding: 10px 14px;
  }
  .article .field-type-image,
  .view .attachment {
    width: 110%;
    position:relative;
    left:-5%;
  }
  .view-id-players ul li {
    float:left;
    width: 30%;
  }

  .view-id-players ul li:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
}
