/**
 * Styles for tomes
 */

@import 'compass';
@import url(http://fonts.googleapis.com/css?family=Dosis:500,600|Titillium+Web);
//font-family: 'Dosis', sans-serif;
//font-family: 'Titillium Web', sans-serif;

// !variables
$color_background: #333;
$color_text: #eee;
$base_font: 16px;
$break_point: 640px;

// !functions

@function em($target, $context: $base_font) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

@mixin clearfix {
    &:after, &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}

// !globals

body {
  background: transparent image-url('bg-clouds.jpg') no-repeat fixed;
  @include background-size(cover);
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 2em;
  margin: 0 0;
  padding: 0 0;

  > *,
  > header > * {
    margin: 0 auto;
  }

  > .content,
  > .footer,
  > header > * {
    width: 40em;
    max-width: 90%;
  }

  > header {
    background: transparent image-url('bg-lightning.png') no-repeat scroll center bottom;
    @include background-size(cover);
    max-width: 100%;
    padding-bottom: 1000px;
    margin-bottom: -1050px;
    text-align: center;

    h1.title {
      display: inline-block;
      overflow:hidden;
      width: 800px;
      margin-top: -30px;
      max-width: 100%;
      img {
        position:relative;
        z-index: 50;
        max-width: 100%;
      }
    }

    .subtitle {
      margin-bottom:2em;
    }

    nav {
      text-align: left;
      @include box-shadow(rgba(255, 255, 255, 0.1) 0 0 20px);
      ul.inline li {
        margin-bottom: 0;
        padding-right: 0;
        position: relative;
        z-index: 100;

        a {
          padding: 0 1em;
          font-family: 'Dosis', sans-serif;
          color:#1b1435;
          text-decoration: none;
          text-transform: capitalize;
        }
        &.active,
        &:hover {
          background-color: #000;
          background-color: rgba(0, 0, 0, 0.3);
          @include box-shadow(rgba(255, 255, 255, 0.1) 0 0 20px);
          a {
            color: #fff;
          }
        }
      }
    }

  }
  > footer {
    background-position: center top;
    background: transparent image-url('bg-mountains.png') no-repeat center top;
    @include background-size(cover);
    min-height: 20em;
    padding-top: 10em;
    position: relative;
    width:100%;
    display: table;
    > * {
      display: table-cell;
      vertical-align: bottom;
      color: #000;
    }
    .logo {
      height: 100px;
    }
  }
}



// !text
* {
  color: $color_text;
  @include text-shadow;
}
ul {
  margin-left:0;
  padding-left:0;
  &.unstyled {
    padding-left:0;
  }
  &.inline {
    margin-top: 0;
    li {
      display: inline-block;
      padding-right: 2em;
    }
  }
}

li {
  list-style: none;
  margin-bottom: 2em;
}

p {
  margin: 0 0 1em;
}

#{headings()} {
  margin-bottom: .5em;
  margin-top: 2em;
  font-family: 'Dosis', sans-serif;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

article, iframe {
  margin-bottom: 2em;
  @include box-shadow(rgba(255, 255, 255, 0.1) 0 0 20px);
  max-width:100%;
}
article {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 2em;
  text-align: justify;

  #{headings()} {
    width: 60%;
    min-width: 10em;
    text-align: center;
    margin: .5em auto 1em;
  }
}

blockquote {
  font-size: 1.5em;
  margin: 2em 0 0 inherit;
  p {
   margin-bottom: 0;
   margin-top: 0.5em;
  }
}
.citation {
  display: block;
  text-align: right;
  margin-top: -1em;
  &:before {
    content: "&mdash; ";
  }
}

// !posts
article {
  &.show {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    @include clearfix;

    &:last-of-kind {
      border-bottom-width: 0;
    }

    #{headings()} {
      margin: 0.25em 0 0;
      width: auto;
      text-align: left;
    }

    footer {
      font-size:small;
      line-height: 1.5em;
      color: rgba(255, 255, 255, 0.5)
    }

    div.poster {
      overflow: hidden;
      @include background-size(cover);
      background-position: center center;
      height: em(150px);
      @media (min-width: $break_point) {
        float: left;
        width: em(170px);
        margin: em(12px) em(30px) em(12px) 0;
      }
      img {
        visibility: hidden;
      }

    }
    img.poster {
      width: 100%;
      height: auto;
    }
  }
}

